@font-face {
  font-family: 'ubuntu';
  src: url('fonts/Ubuntu-Bold.ttf');
}

table {
  margin: 10rem auto; /* Centrar la tabla horizontalmente */
  width: 80%;
  border-collapse: collapse;
  border-radius: 2rem;
  border-color: rgba(0, 0, 0, 0);
  font-family: 'ubuntu';
  text-align: center;
  color: rgb(231, 231, 231);
  padding: 0;
  table-layout: fixed;
  background-color: rgb(46, 46, 46);
  box-shadow: 0 0.4rem 2rem rgba(255, 255, 255, 0.5);
}

table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

table tr {
  padding: .35em;
  border-color: rgba(0, 0, 0, 0);
}

table th {
  font-size: 2.3rem;
  border-color: rgba(0, 0, 0, 0);
  background-color: rgb(19, 19, 19);
}

td:hover {
  background-color: rgba(56, 156, 160, 0.548);
  border-radius: 20rem;
}

table td {
  padding: 1rem;
  border-color: rgba(0, 0, 0, 0);
}

table td .anchoColumna {
  width: 12rem;
}

.btn {
  color: white;
  margin: 1rem auto;
  background-color: rgb(32, 139, 158);
  border-radius: 3rem;
  border-color: rgba(0, 0, 0, 0);
  font-size: 2rem;
  width: 14rem;
}
