@font-face {
  font-family: 'ubuntu';
  src: url('fonts/Ubuntu-Bold.ttf');
}
table {
  margin: 10rem auto; /* Centrar la tabla horizontalmente */
  width: 80%;
  border-collapse: separate; /* Cambia a 'separate' para que funcione el border-radius */
  border-spacing: 0; /* Elimina el espacio entre celdas */
  border-radius: 1.5rem;
  border-color: transparent;
  font-family: 'ubuntu';
  text-align: center;
  color: #333333; /* Color de texto oscuro */
  background-color: #e0f7fa; /* Fondo azul claro */
  box-shadow: 0 0.4rem 1.5rem rgba(0, 0, 0, 0.3);
}

table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
  color: #0277bd; /* Azul oscuro para el título */
}

table tr {
  padding: .35em;
  border-color: transparent;
}

table th {
  font-size: 2.3rem;
  background-color: #0288d1; /* Azul oscuro para los encabezados */
  color: #ffffff;
  padding: 1rem;
}

/* Aplica el borde redondeado solo a las esquinas superiores de los primeros encabezados */
table tr:first-child th:first-child {
  border-top-left-radius: 1.5rem;
}

table tr:first-child th:last-child {
  border-top-right-radius: 1.5rem;
}

td:hover {
  background-color: rgba(3, 169, 244, 0.5); /* Azul claro translúcido al pasar el mouse */
  border-radius: 0.5rem;
}

table td {
  padding: 1rem;
  color: #01579b; /* Azul oscuro para el texto de las celdas */
  border-color: transparent;
}

table td .anchoColumna {
  width: 12rem;
}

.btn {
  color: #ffffff;
  margin: 1rem auto;
  background-color: #0288d1; /* Azul oscuro para los botones */
  border-radius: 2rem;
  border: none;
  font-size: 1.8rem;
  width: 14rem;
  text-align: center;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #0277bd; /* Azul ligeramente más oscuro al pasar el mouse */
}
